.root{
    -fx-background-color: #29293d, linear-gradient(#29293d, #211C24);
    -fx-text-fill: #b299e6;
}

.label{

}

.button{
    -fx-background-color: #403F40, linear-gradient(#403F40, #331D45);
    -fx-text-fill: #b299e6;
}
